frontend openldap
 bind *:1389
 default_backend openldap
 mode tcp
 option tcplog
backend openldap
 balance source
 mode tcp
{% for name, ip in workers %}
 server {{ name }} {{ ip }}:31389 check
{% endfor %}
