apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: common-service
  namespace: common-service
spec:
  targetNamespaces:
  - common-service

---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-common-service-operator
  namespace: common-service
spec:
{% if ics_update_channel.split('.')[1]|int > 19 %}
  channel: v{{ ics_update_channel }}
{% else %}
  channel: v3
{% endif %}
  installPlanApproval: Automatic
  name: ibm-common-service-operator
  source: opencloud-operators
  sourceNamespace: openshift-marketplace
