apiVersion: operator.ibm.com/v1alpha1
kind: OperandRequest
metadata:
  name: common-service
  namespace: ibm-common-services
spec:
  requests:
    - operands:
        - name: ibm-cert-manager-operator
        - name: ibm-iam-operator
        - name: ibm-healthcheck-operator
        - name: ibm-management-ingress-operator
        - name: ibm-licensing-operator
        - name: ibm-commonui-operator
        - name: ibm-platform-api-operator
        - name: ibm-ingress-nginx-operator
{% if ics_operands[0] == 'Y' %}
        - name: ibm-zen-operator
{% endif %}
{% if ics_operands[2] == 'Y' %}
        - name: ibm-events-operator
{% endif %}
{% if ics_operands[3] == 'Y' %}
        - name: ibm-auditlogging-operator
{% endif %}
{% if ics_operands[5] == 'Y' %}
        - name: ibm-mongodb-operator
{% endif %}
{% if ics_operands[6] == 'Y' %}
        - name: ibm-elastic-stack-operator
{% endif %}
      registry: common-service
