apiVersion: v1
baseDomain: {{ base_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ n_workers }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ n_masters }}
metadata:
  name: {{ ocp_domain }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network }}
    hostPrefix: {{ cluster_network_subnet }}
{% if ocp_cni == 'S' %}
  networkType: OpenShiftSDN
{% else %}
  networkType: OVNKubernetes
{% endif %}
  serviceNetwork:
  - 172.30.0.0/16
platform:
 none: {}
pullSecret: '{"auths":{"registry.{{ domain }}:5000": {"auth": "{{ repo_cred_base64.stdout}}","email": "noemail@localhost"}}}'
fips: false
sshKey: {{ ssh_pub_key.stdout }}
additionalTrustBundle: |
{{ repo_cert.stdout }}
imageContentSources:
- mirrors:
  - registry.{{ domain }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - registry.{{ domain }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
