kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: backup_nfs_pvc
  namespace: gi
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ gi_ds_size * 1.2 }}Gi
  storageClassName: nfs-client

