kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: backup-nfs-pvc
  namespace: gi
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ gi_ds_size|float * 1.2 }}Gi
  storageClassName: nfs-client

