{
 "id": "{{ id }}",
 "name": "{{ name }}",
 "ignition_id": "{{ ign_file }}",
 "boot": {
  "kernel": "/assets/rhcos-installer-kernel-x86_64",
  "initrd": [
   "/assets/rhcos-installer-initramfs.x86_64.img"
   ],
   "args": [
    "ip=dhcp",
    "rd.neednet=1",
    "console=tty0",
    "coreos.inst=yes",
    "coreos.inst.install_dev={{ boot_disk }}",
    "coreos.inst.image_url=http://matchbox.{{ domain }}:8080/assets/rhcos-metal.x86_64.raw.gz",
    "coreos.inst.ignition_url=http://matchbox.{{ domain }}:8080/ignition?mac=${mac:hexhyp}"
   ]
 }
}
