apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: opencloud-operators
  namespace: openshift-marketplace
spec:
  displayName: IBMCS Operators
  publisher: IBM
  sourceType: grpc
  image: {{ cpfs_registry }}/ibm-common-service-catalog:{{ cpfs_version }}
  updateStrategy:
    registryPoll:
      interval: 45m
