apiVersion: operator.ibm.com/v1alpha1
kind: OperandRequest
metadata:
  name: common-service
  namespace: ibm-common-services
spec:
  requests:
    - operands:
        - name: ibm-cert-manager-operator
        - name: ibm-iam-operator
        - name: ibm-healthcheck-operator
        - name: ibm-management-ingress-operator
        - name: ibm-licensing-operator
        - name: ibm-commonui-operator
        - name: ibm-platform-api-operator
        - name: ibm-events-operator
        - name: ibm-auditlogging-operator
        - name: ibm-mongodb-operator
{% if cpfs_operands[1] == 'Y' %}
        - name: ibm-zen-operator
        - name: zen-cpp-operator
{% endif %}
{% if cpfs_operands[0] == 'Y' %}
        - name: ibm-monitoring-grafana-operator
{% endif %}
{% if cpfs_operands[4] == 'Y' %}
        - name: ibm-user-data-services-operator
{% endif %}
{% if cpfs_operands[2] == 'Y' %}
        - name: ibm-db2u-operator
{% endif %}
{% if cpfs_operands[3] == 'Y' %}
        - name: cloud-native-postgresql
{% endif %}
{% if cpfs_operands[5] == 'Y' %}
        - name: ibm-bts-operator
{% endif %}
      registry: common-service
