frontend ssh
{% if gi_ssh_host == '0.0.0.0' and gi_ssh_port|int != 0 %}
 bind *:{{ gi_ssh_port }}
{% else %}
 bind *:{{ ssh_node_port.stdout }}
{% endif %}
 default_backend ssh
 mode tcp
 option tcplog
backend ssh
 balance source
 mode tcp
{% for name, ip in nodes_to_process %}
 server {{ name }} {{ ip }}:{{ ssh_node_port.stdout }} check
{% endfor %}
