apiVersion: v1
baseDomain: {{ base_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ n_workers }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ n_masters }}
metadata:
  name: {{ cluster_domain }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network }}
    hostPrefix: {{ cluster_network_subnet }}
{% if ocp_cni == 'S' %}
  networkType: OpenShiftSDN
{% else %}
  networkType: OVNKubernetes
{% endif %}
  serviceNetwork:
  - 172.30.0.0/16
platform:
 none: {}
fips: false
sshKey: {{ ssh_pub_key.stdout }}
