apiVersion: "local.storage.openshift.io/v1"
kind: "LocalVolume"
metadata:
  name: "local-disks"
  namespace: "openshift-local-storage" 
spec:
{% if is_odf_tainted == 'Y' %}
  tolerations:
  - key: "node.ocs.openshift.io/storage"
    value: "true"
    effect: NoSchedule
{% endif %}
  nodeSelector: 
    nodeSelectorTerms:
    - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
{% for name in temp_nodes %}
          - {{ name }}.{{ ocp_domain }}
{% endfor %}
  storageClassDevices:
    - storageClassName: "localblock-sc"
      volumeMode: Block  
      devicePaths: 
        - /dev/{{ storage_device }}
