apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: rook-ceph
spec:
  repositoryDigestMirrors:
  - mirrors:
    - registry.{{ ocp_domain }}:5000/rook/ceph
    source: docker.io/rook/ceph
  - mirrors:
    - registry.{{ ocp_domain }}:5000/rook/ceph
    source: quay.io/ceph/ceph
  - mirrors:
    - registry.{{ ocp_domain }}:5000/rook/cephcsi
    source: quay.io/cephcsi/cephcsi
  - mirrors:
    - registry.{{ ocp_domain }}:5000/rook/csi-node-driver-registrar
    source: k8s.gcr.io/sig-storage/csi-node-driver-registrar
  - mirrors:
    - registry.{{ ocp_domain }}:5000/rook/csi-resizer
    source: k8s.gcr.io/sig-storage/csi-resizer
  - mirrors:
    - registry.{{ ocp_domain }}:5000/rook/csi-provisioner
    source: k8s.gcr.io/sig-storage/csi-provisioner
  - mirrors:
    - registry.{{ ocp_domain }}:5000/rook/csi-snapshotter
    source: k8s.gcr.io/sig-storage/csi-snapshotter
  - mirrors:
    - registry.{{ ocp_domain }}:5000/rook/csi-attacher
    source: k8s.gcr.io/sig-storage/csi-attacher
  - mirrors:
    - registry.{{ ocp_domain }}:5000/rook/k8s-sidecar
    source: quay.io/csiaddons/k8s-sidecar
