- name: Create ICS operator namespace
  ansible.builtin.shell:
    cmd: "oc create namespace {{ ics_operator_namespace }} || echo 'Namespace exists'"
  ignore_errors: yes

- name: Label ICS nodes
  ansible.builtin.shell:
    cmd: "oc label node {{ item }}.{{ domain }} ics_role=yes --overwrite=true"
  with_items: "{{ ics_dedicated_nodes|list }}"
  when: ics_dedicated_nodes|length > 2

- name: Create ICS namespace with node selector
  ansible.builtin.shell:
    cmd: "{{ item }}"
  with_items:
    - oc create namespace ibm-common-services || echo "Namespace exists"
    - "oc patch namespace ibm-common-services -p '{\"metadata\":{\"annotations\": {\"scheduler.alpha.kubernetes.io/node-selector\": \"ics_role=yes\"}}}'"
  when: ics_dedicated_nodes|length > 2

- name: Check presence of cloudctl tool
  ansible.builtin.stat:
    path: "{{ temp_dir }}/{{ offline_inventory }}/{{ item.file }}"
  register: cloudctl_tool
  with_items:
    - { file: "cloudctl-linux-amd64.tar.gz" }
  ignore_errors: true

- name: Stop if cloudct tool is not uploaded for air-gapped installation
  ansible.builtin.fail:
    msg: "Please upload cloud tool to download directory"
  with_items: "{{ cloudctl_tool.results }}"
  when: item.stat.exists == False and internet_type == 'A'

- name: "Download cloud tool"
  ansible.builtin.get_url:
    url: "https://github.com/IBM/cloud-pak-cli/releases/latest/download/cloudctl-linux-amd64.tar.gz"
    dest: "{{ temp_dir }}/{{ offline_inventory }}"
    use_proxy: "{{ 'yes' if internet_type == 'P' else 'no' }}"
  when: internet_type != 'A'

- name: Unpack cloudctl tools
  ansible.builtin.shell:
    cmd: "tar xf {{ temp_dir }}/{{ offline_inventory }}/{{ item.src }} -C /usr/local/bin"
  with_items:
    - { src: "cloudctl-linux-amd64.tar.gz" }

- name: Standarize cloudctl name
  ansible.builtin.command: mv /usr/local/bin/cloudctl-linux-amd64 /usr/local/bin/cloudctl

- name: Set correct rights for RHCOS tools in /usr/local/bin
  ansible.builtin.file:
    path: "/usr/local/bin/{{ item.file }}"
    owner: root
    group: root
    mode: 0755
  with_items:
    - { file: "cloudctl" }

- name: Set catalog reference for CPFS and GI (offline)
  ansible.builtin.shell:
    cmd: "sed -i \"s/image:.*:5000/image: registry.{{ domain }}:5000/\" {{ temp_dir }}/{{ offline_inventory }}/.ibm-pak/data/mirror/ibm-guardium-insights/{{ gi_case_version }}/catalog-sources.yaml"
  when: internet_type == 'A' and install_gi == 'Y'

- name: Set imagecontentsourcepolicy reference for CPFS and GI (offline)
  ansible.builtin.shell:
    cmd: "sed -i \"s/- registry:.*:5000/- registry: registry.{{ domain }}:5000/\" {{ temp_dir }}/{{ offline_inventory }}/.ibm-pak/data/mirror/ibm-guardium-insights/{{ gi_case_version }}/imageContentSourcePolicy.yaml"
  when: internet_type == 'A' and install_gi == 'Y'

- name: Install catalogs for CPFS and GI (offline)
  ansible.builtin.shell:
    cmd: "oc apply -f {{ temp_dir }}/{{ offline_inventory }}/.ibm-pak/data/mirror/ibm-guardium-insights/{{ gi_case_version }}/catalog-sources.yaml"
  when: internet_type == 'A' and install_gi == 'Y'

- meta: end_play

- name: Switch ICS inventory to portable registry
  ansible.builtin.shell:
    cmd: "cloudctl case launch --case {{ temp_dir }}/{{ offline_inventory }}/{{ ics_manifest_dir }}/ibm-cp-common-services-{{ ics_case }}.tgz --inventory {{ ics_case_inventory_setup }} --action configure-cluster-airgap --namespace {{ ics_operator_namespace }}  --args \"--registry registry.{{ domain }}:5000 --user {{ repo_user }} --pass {{ repo_user_password }} --inputDir {{ temp_dir }}/{{ offline_inventory }}/{{ ics_manifest_dir }}\""
  when: internet_type == 'A' and install_gi == 'N'

- name: Switch GI inventory to portable registry
  ansible.builtin.shell:
    cmd: "cloudctl case launch --case {{ temp_dir }}/{{ offline_inventory }}/{{ ics_manifest_dir }}/{{ gi_case }} --inventory {{ gi_case_inventory_setup }} --action configure-cluster-airgap --namespace {{ ics_operator_namespace }} --tolerance 1 --args \"--registry registry.{{ domain }}:5000 --user {{ repo_user }} --pass {{ repo_user_password }} --inputDir {{ temp_dir }}/{{ offline_inventory }}/{{ ics_manifest_dir }}\""
  when: internet_type == 'A' and install_gi == 'Y'

- name: Wait for cluster reconfiguration
  ansible.builtin.pause:
    minutes: 8
  when: internet_type == 'A' and ocp_release|int < 2

- name: Check cluster nodes health after Content Source Policy change
  ansible.builtin.shell: ../scripts/check_cluster_health_operators.sh
  register: cluster_health_operators
  until: cluster_health_operators.stdout == "0"
  retries: 100
  delay: 30
  when: internet_type == 'A' and ocp_release|int < 2

- name: Wait for cluster operators after mirrored operator images setup (can take 20-40 minutes)
  ansible.builtin.shell:
    cmd: "oc get co --config=../ocp/auth/kubeconfig --no-headers|awk '{ print $3$4$5 }'|grep -v TrueFalseFalse|wc -l"
  register: co_status
  until: "co_status.stdout == \"0\""
  retries: 150
  delay: 30
  when: internet_type == 'A' and ocp_release|int < 2

- name: Create ICS catalog file
  ansible.builtin.template:
    src: ics_catalog.j2
    dest: "{{ temp_dir }}/ics_arch/ics_catalog.yaml"
  when: internet_type != 'A' and false

- name: Publish ICS catalog
  ansible.builtin.shell:
    cmd: "oc apply -f {{ temp_dir }}/ics_arch/ics_catalog.yaml"
  when: internet_type != 'A'

- name: Publish ICS catalog in air-gap
  ansible.builtin.shell:
    cmd: "cloudctl case launch --case {{ temp_dir }}/{{ offline_inventory }}/{{ ics_manifest_dir }}/ibm-cp-common-services-{{ ics_case }}.tgz  --inventory {{ ics_case_inventory_setup }} --action install-catalog --namespace {{ ics_operator_namespace }}  --args \"--registry registry.{{ domain }}:5000\""
  when: internet_type == 'A' and false

- name: Wait for ICS catalog
  ansible.builtin.shell:
    cmd: "oc get pods -n openshift-marketplace|grep opencloud-operators|grep 1/1|grep Running|wc -l"
  register: ics_catalog_status
  until: "ics_catalog_status.stdout == \"1\""
  retries: 30
  delay: 10

- name: Wait for ICS catalog source
  ansible.builtin.shell:
    cmd: "oc get catalogsource -n openshift-marketplace|grep opencloud-operators|wc -l"
  register: ics_catalog_source_status
  until: "ics_catalog_source_status.stdout == \"1\""
  retries: 30
  delay: 10

- name: Create ICS subscription file
  ansible.builtin.template:
    src: ics_subscription.j2
    dest: "{{ temp_dir }}/ics_arch/ics_subscription.yaml"

- name: Subscribe ICS operator
  ansible.builtin.shell:
    cmd: "oc apply -f {{ temp_dir }}/ics_arch/ics_subscription.yaml"

- name: Wait for ICS csv
  ansible.builtin.shell:
    cmd: "oc -n common-service get csv|grep ibm-common-service-operator|grep Succeeded|wc -l"
  register: ics_csv_status
  until: "ics_csv_status.stdout == \"1\""
  retries: 30
  delay: 10

- name: Wait for ICS crd's
  ansible.builtin.shell:
    cmd: "oc get crd | grep operandrequest|wc -l"
  register: ics_crd_status
  until: "ics_crd_status.stdout == \"1\""
  retries: 30
  delay: 10

- name: Set ICS deployment size
  ansible.builtin.shell:
    cmd: "oc patch commonservice common-service -n ibm-common-services --type=\"json\" -p='[{\"op\": \"replace\", \"path\": \"/spec/size\", \"value\": \"{{ ics_size }}\"}]'"

- name: Wait for deployment size change
  ansible.builtin.shell:
    cmd: "oc get commonservice common-service -n ibm-common-services -o json|jq -r .status.phase"
  register: ics_commonservice_status
  until: "ics_commonservice_status.stdout == \"Succeeded\""
  retries: 30
  delay: 10

- name: Generate operands file
  ansible.builtin.template:
    src: "ics_operands.j2"
    dest: "{{ temp_dir }}/ics_arch/ics_operands.yaml"

- name: Deploy ICS
  ansible.builtin.shell:
    cmd: "oc apply -f {{ temp_dir }}/ics_arch/ics_operands.yaml"

- name: Wait for operands deployment initiation
  ansible.builtin.pause:
    minutes: 3

- name: Wait for successful ICS deployment (takes 20-60 minutes)
  ansible.builtin.shell:
    cmd: "oc get pods --no-headers -n ibm-common-services|grep -v Completed|grep -v Running|wc -l"
  register: ics_pods_status
  until: "ics_pods_status.stdout == \"0\""
  retries: 80
  delay: 20

- name: Check pod's containers status
  ansible.builtin.shell:
    cmd: "oc get pods -n ibm-common-services|grep Running|awk '{print $2}'|awk -F'/' '$1!=$2'|wc -l"
  register: ics_containers_status
  until: "ics_containers_status.stdout == \"0\""
  retries: 80
  delay: 20

- name: Login to ICS
  ansible.builtin.shell:
    cmd: "cloudctl login -a https://cp-console.apps.{{ domain }} -u admin -p `oc -n ibm-common-services get secret platform-auth-idp-credentials -o jsonpath='{.data.admin_password}' | base64 -d` -n kube-system"

- name: Set ICS admin password
  ansible.builtin.shell:
    cmd: "cloudctl pm update-secret ibm-common-services platform-auth-idp-credentials -f -d admin_password='{{ ics_admin_password }}'"

- name: Wait for authentication changes
  ansible.builtin.pause:
    minutes: 3

- name: Wait for successful password change
  ansible.builtin.shell:
    cmd: "oc get pods --no-headers -n ibm-common-services|grep -v Completed|grep -v Running|wc -l"
  register: ics_pods_status
  until: "ics_pods_status.stdout == \"0\""
  retries: 80
  delay: 20

- name: Switch off automatic endpoint certificate recreation
  ansible.builtin.shell:
    cmd: oc -n ibm-common-services patch managementingress default --type merge --patch '{"spec":{"ignoreRouteCert":true}}'
  when: ics_ext_ingress == 'Y'

- name: Wait for endpoint configuration change
  ansible.builtin.shell:
    cmd: "oc logs `oc get pods -n ibm-common-services | grep ibm-management-ingress-operator|awk '{print $1}'` -n ibm-common-services|grep 'IgnoreRouteCert is true'|wc -l"
  register: ics_pod_status
  until: "ics_pods_status.stdout != \"1\""
  retries: 10
  delay: 20
  when: ics_ext_ingress == 'Y'

- name: Change endpoint cert
  ansible.builtin.shell:
    cmd: "{{ item }}"
  with_items:
    - "oc -n ibm-common-services delete certificates.v1alpha1.certmanager.k8s.io route-cert"
    - "oc -n ibm-common-services delete secret route-tls-secret"
    - "oc -n ibm-common-services create secret generic route-tls-secret --from-file=ca.crt={{ ics_ca }}  --from-file=tls.crt={{ ics_cert }}  --from-file=tls.key={{ ics_key }}"
    - "oc -n ibm-common-services delete secret ibmcloud-cluster-ca-cert"
    - "oc -n ibm-common-services delete pod -l app=auth-idp"
  when: ics_ext_ingress == 'Y'

- name: Wait for successful cert replacement
  ansible.builtin.shell:
    cmd: "oc get pods --no-headers -n ibm-common-services|grep -v Completed|grep -v Running|wc -l"
  register: ics_pods_status
  until: "ics_pods_status.stdout == \"0\""
  retries: 50
  delay: 20
  when: ics_ext_ingress == 'Y'

