    - name: Set parameters for multiple subnets installation
      ansible.builtin.set_fact:
        gateways_list: "{{ lookup('env','GI_SUBNETS_GATEWAYS').split(',') }}"
        dhcp_ranges_list: "{{ lookup('env','GI_SUBNETS_IP_RANGES').split(',') }}"
      when: one_subnet == 'N'

    - name: Check configuration parameters for multiple subnets installation
      ansible.builtin.fail: msg="Variable {{ item.name }} is not set"
      loop:
        - { name: "GI_SUBNETS_GATEWAYS", value: "{{ gateways_list }}" }
        - { name: "GI_SUBNETS_IP_RANGES", value: "{{ dhcp_ranges_list }}" }
      when: one_subnet == 'N' and item.value == ""

    - name: Iterates all workers in one array
      ansible.builtin.set_fact:
        nodes: "{{ worker_name|default([])+ocs_name|default([]) }}"
        ips: "{{ worker_ip|default([])+ocs_ip|default([]) }}"

    - name: Set CP4S installation variables from env
      ansible.builtin.set_fact:
        gi_nfs_backup: "N"
      when: install_cp4s == 'Y'

    - name: Set CP4S proxy settings
      ansible.builtin.set_fact:
        proxy_url: "{{ lookup('env','GI_PROXY_URL') }}"
        no_proxy_list: "{{ lookup('env','GI_NOPROXY_NET') }}"
        no_proxy_adds: "{{ lookup('env','GI_NOPROXY_NET_ADDS') }}"
      when: install_cp4s == 'Y' and internet_type == 'A'

    - name: Check CP4S variables for proxy settings
      ansible.builtin.fail: msg="Variable {{ item.name }} is not set"
      loop:
        - { name: "GI_PROXY_URL", value: "{{ proxy_url }}" }
        - { name: "GI_NOPROXY_NET", value: "{{ no_proxy_list }}" }
          #- { name: "GI_NOPROXY_NET_ADDS", value: "{{ no_proxy_adds }}" }
      when: install_cp4s == 'Y' and internet_type == 'A' and item.value == ""

    - name: Set GI installation variables
      ansible.builtin.set_fact:
        gi_case: "ibm-guardium-insights-{{ gi_case_version }}.tgz"
      when: install_gi == 'Y'

    - name: Set parameters for air-gapped installation
      ansible.builtin.set_fact:
        offline_inventory: "{{ 'gi_arch' if install_gi == 'Y' else 'ics_arch' }}"
        ics_manifest_dir: "{{ 'gi_offline' if install_gi == 'Y' else 'ics_offline' }}"
      when: install_ics == 'Y'

