- name: Create namespace for NFS client
  ansible.builtin.shell:
      cmd: oc create namespace nfs-provisioner || echo "Namespace exists"

- name: Set RBAC for NFS client
  ansible.builtin.shell:
    cmd: oc apply -f ../scripts/nfs-client-rbac.yaml

- name: Set security context for NFS client
  ansible.builtin.shell:
    cmd: oc adm policy add-scc-to-user hostmount-anyuid system:serviceaccount:nfs-provisioner:nfs-client-provisioner

- name: Setup deployment file
  template:
    src: "nfs-client-deployment.j2"
    dest: "{{ temp_dir }}/gi_arch/nfs-client-deployment.yaml"

- name: Deploy NFS client
  ansible.builtin.shell:
    cmd: "oc apply -f {{ temp_dir }}/gi_arch/nfs-client-deployment.yaml"

- name: Confirm successful deployment of NFS client
  ansible.builtin.shell:
    cmd: "oc get pods -n nfs-provisioner | grep -e Running -e 1/1 | wc -l"
  register: nfs_client_status
  until: "nfs_client_status.stdout|int == 1"
  retries: 50
  delay: 5

- name: Add NFS client storage class
  ansible.builtin.shell:
    cmd: oc apply -f ../scripts/nfs-client-sc.yaml

- name: Setup PVC file
  template:
    src: "nfs_backup_pvc.j2"
    dest: "{{ temp_dir }}/gi_arch/nfs_backup_pvc.yaml"

- name: Deploy NFS backup PVC
  ansible.builtin.shell:
    cmd: "oc apply -f {{ temp_dir }}/gi_arch/nfs_backup_pvc.yaml"

