- name: Create namespace for NFS client
  ansible.builtin.shell:
      cmd: oc create namespace nfs-provisioner || echo "Namespace exists"

- name: Set RBAC for NFS client
  ansible.builtin.shell:
    cmd: oc apply -f ../scripts/nfs-client-rbac.yaml

- name: Set security context for NFS client
  ansible.builtin.shell:
    cmd: oc adm policy add-scc-to-user hostmount-anyuid system:serviceaccount:nfs-provisioner:nfs-client-provisioner

- name: Setup deployment file
  template:
    src: "nfs-client-deployment.j2"
    dest: "{{ temp_dir }}/gi_arch/nfs-client-deployment.yaml"

- name: Deploy NFS client
  ansible.builtin.shell:
    cmd: "oc create -f {{ temp_dir }}/gi_arch/nfs-client-deployment.yaml"

- meta: end_play

- name: Confirm successful deployment of NFS client
  ansible.builtin.shell:
    cmd: "echo $(oc exec `oc get pods -l name=portworx -n kube-system -o jsonpath='{.items[0].metadata.name}'` -c portworx -n kube-system -- /opt/pwx/bin/pxctl cluster list -j )|jq .cluster.Status"
  register: nfs_status
  until: "px_status.stdout|int == 2"
  retries: 50
  delay: 5

