- name: Add gateways to dnsmasq.conf for multiple subnets installation
  ansible.builtin.lineinfile:
    path: /etc/dnsmasq.conf
    line: "dhcp-option=vlan{{ ansible_loop.index }},3,{{ item }}"
  with_items: "{{ gateways_list }}"
  loop_control:
    extended: yes
  when: one_subnet == 'N'

- name: Add dhcp ranges to dnsmasq.conf for multiple subnets installation
  ansible.builtin.lineinfile:
    path: /etc/dnsmasq.conf
    line: "dhcp-range=vlan{{ ansible_loop.index }},{{ item | replace('-',',') }},12h"
  with_items: "{{ dhcp_ranges_list }}"
  loop_control:
    extended: yes
  when: one_subnet == 'N'

- name: Gather info about specific pods
  containers.podman.podman_container_info:
    name: bastion-registry
  register: repo_status
  failed_when:   "'5000/tcp' not in repo_status.containers[0].HostConfig.PortBindings"
  when: internet_type == 'A'
  
- name: Create OCP config file in air-gapped env for CP4S
  ansible.builtin.template:
    src: install-config-air-gapped-cp4s.j2
    dest: ../ocp/install-config.yaml
  vars:
    n_workers: "{{ worker_ip|default([])|length+ocs_ip|default([])|length }}"
    n_masters: "{{ master_ip|length }}"
  when: internet_type == 'A' and install_cp4s == 'Y'
